@use './variables' as *;
@use './mixins' as *;

// Reset and base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 1.6;
  color: $gray-800;
  background-color: $gray-50;
}

// App layout
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  &__header {
    background-color: $white;
    border-bottom: 1px solid $gray-200;
    padding: $spacing-4 0;
    
    @include container;
  }
  
  &__title {
    font-size: $font-size-3xl;
    font-weight: 700;
    color: $primary;
    margin-bottom: $spacing-1;
    
    @include mobile {
      font-size: $font-size-2xl;
    }
  }
  
  &__subtitle {
    color: $gray-600;
    font-size: $font-size-lg;
    
    @include mobile {
      font-size: $font-size-base;
    }
  }
  
  &__main {
    flex: 1;
    padding: $spacing-8 0;
    
    @include container;
    
    @include mobile {
      padding: $spacing-6 0;
    }
  }
}

// Utility classes
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.mb-4 {
  margin-bottom: $spacing-4;
}

.mb-6 {
  margin-bottom: $spacing-6;
}

.mt-4 {
  margin-top: $spacing-4;
}

.mt-6 {
  margin-top: $spacing-6;
}